.bd{
    color:white;
    background-color: black;
}

.topcontent{
    font-family: serif;
    font-size: x-large;
}

#main{
    background-image:url("images/cover.jpg");
    background-size: 100% 100%;
}

.maincontent{
    font-size: larger;
    font-family: serif;
}

.firstline{
    font-family: cursive;
    font-size: xx-large;
}

.list{
    font-size: large;
}

.navlink{
    color:white;
}

.btn{
    background-color: green;
    color: white;
    
}

.ski{
    text-align: center;
    background-color: blue;
}